<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel app</title>
    <link rel="icon" type="image/png" href="../../favicon.png"/>
</head>
<body>

    <header>
        <h1>Travel Planning App</h1>
    </header>


    <div class="container mt-5 mb-5">

        <h2>Where is your next trip? </h2>

        <form id="textEvaluateForm" onsubmit="return Client.handleFormSubmit(event)" class="mb-5">
            <div class="form-group">
                <label for="locationInput">Location:</label>
                <input type="text" class="form-control" id="locationInput" name="locationInput"  placeholder="Enter location..." required>
                <div id="errorFeedback" class="error"></div>
            </div>
            <div class="form-group">
                <label for="dateInput">Start date:</label>
                <input type="date" class="form-control" id="dateInput" name="dateInput"  placeholder="Enter Start Date..." required>
                <div id="dateStartErrorFeedback" class="error"></div>
            </div>
            <div class="form-group">
                <label for="dateInputEnd">End date:</label>
                <input type="date" class="form-control" id="dateInputEnd" name="dateInputEnd"  placeholder="Enter End Date..." required>
                <div id="dateEndErrorFeedback" class="error"></div>
            </div>
            <button type="submit" class="btn btn-primary">Get Information</button>
        </form>

        <hr style="color: white;">

        <div id="evaluationWrapper" class="evaluationText">
            <hr>
            <h4>
                Latitude and Longitude:
            </h4>

            <div id="evaluation">

            </div>

        </div>

    </div>


    <script>
        // Check that service workers are supported

        // comment service worker while developing.
        //
        // if ('serviceWorker' in navigator) {
        //     // Use the window load event to keep the page load performant
        //     window.addEventListener('load', () => {
        //         navigator.serviceWorker.register('/service-worker.js');
        //     });
        // }

        // allow only future dates:
        let currentDate = new Date();
        document.querySelector('#dateInput').setAttribute('min', currentDate.toISOString().substring(0,10));
    </script>

</body>
</html>