<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel app</title>
    <link rel="icon" type="image/png" href="../../favicon.png"/>
</head>
<body>

    <header>
        <h1>Travel Planner</h1>
    </header>


    <div class="container main">

        <h2>Plan your next trip!</h2>

        <button class="btn btn-primary mt-3" id="addTripBtn">Add Trip</button>

        <form id="textEvaluateForm" onsubmit="return Client.handleFormSubmit(event)" class="mb-5">
            <div class="form-group">
                <label for="locationInput">Location:</label>
                <input type="text" class="form-control" id="locationInput" name="locationInput"  placeholder="Enter location..." required>
                <div id="errorFeedback" class="error"></div>
            </div>
            <div class="form-group">
                <label for="dateInput">Start date:</label>
                <input type="date" class="form-control" id="dateInput" name="dateInput"  placeholder="Enter Start Date..." required>
                <div id="dateStartErrorFeedback" class="error"></div>
            </div>
            <div class="form-group">
                <label for="dateInputEnd">End date:</label>
                <input type="date" class="form-control" id="dateInputEnd" name="dateInputEnd"  placeholder="Enter End Date..." required>
                <div id="dateEndErrorFeedback" class="error"></div>
            </div>
            <button type="submit" class="btn btn-primary">Get Information</button>
        </form>


        <div id="line-title">
            <hr>
            <h2 class="mb-3">My Trips</h2>
        </div>


        <div class="trips" id="trips"></div>

    </div>


    <script>
        // service workers:
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }

        // allow only future dates:
        let currentDate = new Date();
        let startDate =  document.querySelector('#dateInput');
        let endDate =  document.querySelector('#dateInputEnd');
        startDate.setAttribute('min', currentDate.toISOString().substring(0,10));
        endDate.setAttribute('min', currentDate.toISOString().substring(0,10));
    </script>

</body>
</html>