@import "~bootstrap/scss/bootstrap";
@import "./homepage";
@import "./trips";
body {
  background-image: url("../images/home_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}